version: '3.8'

services:
  apache:
    build: ./apache
    container_name: apache
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
    depends_on:
      - laravel
      - database
      - phpmyadmin

  laravel:
    build: ./php
    container_name: laravel
    volumes:
      - ./src:/var/www/html
    working_dir: /var/www/html

  database:
    image: mysql:8.0
    container_name: mysql
    volumes:
      - ./mysql/data:/var/lib/mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: blog
      MYSQL_ROOT_PASSWORD: password

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    ports:
      - "80:80"
    environment:
      - PMA_HOST=database
    depends_on:
      - database
